
.compName {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* .carousel-item {
    margin: auto;
    height: auto;
  } */

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* border: 1px solid blue; */
}

.br-sets {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.shopBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
}

.shop:hover {
    background-color: #0056b3;
}

#carouselExampleDark {
    margin: 20px 10px;
    padding: 20px;
    /* border: 5px solid purple; */
}

#artisan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 50px 0;
    /* border: 5px solid green; */
    text-align: center;   
}



.artisanText {
    text-align: center;
}

.artisanSet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin: 20px 10px; */
    /* padding: 20px; */
    margin-top: 50px;
}

.artisanDescription {
    text-align: center;
    margin-top: 20px;
}

.artisanImg img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.exploreBtn {
    margin-top: 10px;
    border-radius: 5px;
}

.exploreBtn a {
    text-decoration: none;
    color: inherit;
}

/* .artisan {
    border: 5px solid red;
    
} */

.saleItem img {
    margin: 20px 10px;
    padding: 20px;
}

.pricingSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.oldPrice {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 300;
}

.price {
    font-weight: 500;
    margin-left: 10px;
}

.addToCart {
    color: black;
    display: block;
    text-align: center;
    margin-bottom: 100px;
}

.aboutText {
    text-align: center;
}

.ourTeam {
    font-weight: 200;
}

.knowUs {
    font-weight: 500;
}

.personBio {
    text-align: center;
}

.staffPic {
    max-width: 80%;
    height: 700px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}

.name {
    margin-top: 30px;
}

.title {
    margin-top: 10px;
}

.personBio p {
    margin-top: 10px;
}

footer {
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
}

.list {
    padding-top: 40px;
    
}

.footerLinks {
    list-style: none;   
}

.footerLinks li {
    margin-bottom: 10px;
}

.footerText {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-top: 20px;
}

.footerText h3 {
    margin-bottom: 10px;
}

.footerText p {
    font-size: 14px;
    max-width: 600px;
}

.emailsubscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.emailInput {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

.subscribeBtn {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.copyright {
    margin-top: 30px;
    border-top: 1px solid white;
    margin-bottom: 10px;
}